@use '@/Scss/Mixins/Breakpoint' as Br;

form {
    .input.checkbox {
        .form-check {
            padding: 0;

            label.add-on {
                gap: .5rem;
                display: inline-flex;
                cursor: pointer;

                span {
                    font-family: 'Jost-Regular';

                    a {
                        display: inline-flex;
                        align-items: center;
                        gap: .25rem;
                        color: var(--accent-dark);

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }

                        &::after {
                            content: "";
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M2.20812 2.71984C1.04854 3.87941 1.00517 5.75953 2.16447 6.91883L4.57387 9.32823C4.83422 9.58858 5.25633 9.58858 5.51668 9.32823C5.77703 9.06788 5.77703 8.64577 5.51668 8.38542L3.10728 5.97602C2.49234 5.36108 2.48806 4.32551 3.15093 3.66264C3.81379 2.99978 4.84937 3.00406 5.4643 3.619L8.27527 6.42996L8.27954 6.4342C8.8902 7.04965 8.89293 8.08195 8.23161 8.74327C7.97126 9.00362 7.97126 9.42573 8.23161 9.68608C8.49196 9.94643 8.91407 9.94643 9.17442 9.68608C10.334 8.5265 10.3774 6.64639 9.21806 5.48709L9.21294 5.48202L6.40711 2.67619C5.24781 1.51689 3.36769 1.56026 2.20812 2.71984Z' fill='%230668BE'/%3E%3Cpath d='M13.8047 14.3055C12.6452 15.4651 10.765 15.5085 9.60574 14.3492L6.79477 11.5382C6.78767 11.5311 6.78076 11.5239 6.77405 11.5166C6.76628 11.5095 6.75864 11.5022 6.75114 11.4947C5.59184 10.3354 5.63521 8.45529 6.79479 7.29571C7.05514 7.03536 7.47725 7.03536 7.7376 7.29571C7.99795 7.55606 7.99795 7.97817 7.7376 8.23852C7.07473 8.90139 7.07902 9.93696 7.69395 10.5519C7.70105 10.559 7.70796 10.5662 7.71468 10.5736C7.72244 10.5806 7.73008 10.5879 7.73758 10.5954L10.5486 13.4064C11.1635 14.0213 12.1991 14.0256 12.8619 13.3627C13.5248 12.6999 13.5205 11.6643 12.9056 11.0494L10.4962 8.63996C10.2358 8.37961 10.2358 7.9575 10.4962 7.69716C10.7565 7.43681 11.1786 7.43681 11.439 7.69716L13.8484 10.1066C15.0077 11.2659 14.9643 13.146 13.8047 14.3055Z' fill='%230668BE'/%3E%3C/svg%3E");
                            background-size: contain;
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                    }
                }

                input[type="checkbox"] {
                    width: 1.25rem;
                    height: 1.25rem;
                    border: 1px solid var(--black);
                    border-radius: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                @include Br.sm-breakpoint-up(desktop) {
                    input[type="checkbox"] {
                        margin-block-start: .5rem;
                    }
                }
            }
        }
    }
}